body {
    margin: 0;
    padding: 0;
    background-image: url("darkbackground.jpg");
    background-size: cover;
}

.navigation {
    background-color: #292828;
    width: 100%;
    height: 5rem;
}

.hamburger {
    width: 7%;
    height: 100%;
}

img {
    margin-top: 0.75rem;
}

a {
    text-decoration: none;
    color: white;
    font-family: Corbel;
}

.navmobile {
    margin-top: 10px;
    display: none;
    background-color: #292828;
    width: 350px;
    height: 20rem;
    font-size: 40px;
    border-style: solid;
    border-color: white;
}

.hamburger:hover .navmobile{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.option1, .option2, .option3 {
    margin-left: 1rem;
    width: 65%;
}

.flexsocials {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15%;
}

h1 {
    color: white;
    font-family: Corbel;
}

.brokenh1 {
    margin-left: 12%;
}

.option1:hover {
    color: red;
    transition: 0.5s;
}

.option2:hover {
    color: red;
    transition: 0.5s;
}

.option3:hover {
    color: red;
    transition: 0.5s;
}